---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
<div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar
        profile</a>.</div>
{% endif %}

{% include base_path %}

<style>
    .pub-list {
        padding-left: 2.5em;
    }

    .pub-list li::marker {
        font-size: 1.3em;
        font-weight: bold;
    }
</style>

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
{% for category in site.publication_category %}
{% assign cat_pubs = site.publications | where: "category", category[0] %}
{% if cat_pubs.size > 0 %}
<h2>{{ category[1].title }}</h2>
<hr />
<ol reversed start="{{ cat_pubs.size }}" class="pub-list">
    {% for post in cat_pubs reversed %}
    {% include archive-single.html %}
    {% endfor %}
</ol>
{% endif %}
{% endfor %}
{% else %}
<ol reversed start="{{ site.publications.size }}" class="pub-list">
    {% for post in site.publications reversed %}
    {% include archive-single.html %}
    {% endfor %}
</ol>
{% endif %}