<!doctype html>
<html lang="{{ site.locale | slice: 0,2 | default: " en" }}" class="no-js">

<head>
  {% include head.html %}
  <!-- Custom Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Latin+Modern+Roman:ital,wght@0,400;0,700;1,400;1,700&display=swap"
    rel="stylesheet">
  <!-- Custom CSS for LaTeX-style PDF Export -->
  <link rel="stylesheet" href="{{ base_path }}/assets/css/cv-print.css">
</head>

<body class="layout--cv-print">
  <div class="initial-content">
    {{ content }}
  </div>
</body>

</html>